<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/gymdroid?useSSL=false</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.connection.password">admin123#M</property>

        <mapping resource="done_set.hbm.xml"/>
        <mapping resource="done_training.hbm.xml"/>
        <mapping resource="done_workout.hbm.xml"/>
        <mapping resource="equipment.hbm.xml"/>
        <mapping resource="equipment_type.hbm.xml"/>
        <mapping resource="muscle.hbm.xml"/>
        <mapping resource="muscle_group.hbm.xml"/>
        <mapping resource="relation_workout_muscle.hbm.xml"/>
        <mapping resource="training.hbm.xml"/>
        <mapping resource="training_set.hbm.xml"/>
        <mapping resource="training_workout.hbm.xml"/>
        <mapping resource="user.hbm.xml"/>
        <mapping resource="user_weight.hbm.xml"/>
        <mapping resource="workout.hbm.xml"/>

    </session-factory>
</hibernate-configuration>


